body {
    margin: 0;
    background-color: rgb(244, 244, 244);
}

* {
    box-sizing: border-box;
}

*::selection {
    background-color: #828c7f;
}

.container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status-container {
    width: 100%;
    max-width: 600px;
}

.status-header img {
    height: 40px;
}
